@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
 body {
	 display: flex;
	 flex-direction: column;
	 height: 100vh;
	 justify-content: center;
	 align-items: center;
	 background-image:url(/img/l.webp);
	 background-size: cover;
}
 pre {
	 margin: 0em 5em 4em 5em;
}
 h1, pre {
	 text-align: center;
	 line-height: 1.8;
	 font-family: Montserrat, serif;

}
 .glowIn {
	font-size: 30px;
	 color: rgb(255, 255, 255);
}
 .glowIn span {
	 animation: glow-in 0.8s both;
}
 @keyframes glow-in {
	 from {
		 opacity: 0;
	}
	 65% {
		 opacity: 1;
		 text-shadow: 0 0 25px white;
	}
	 75% {
		 opacity: 1;
	}
	 to {
		 opacity: 0.7;
	}
}
 